<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Alle skaderapporter</title>
    <link rel="stylesheet" href="/sidebar.css">
    <link rel="stylesheet" href="/table.css">
    <link rel="stylesheet" href="/red.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
<!-- Sidebar -->
<div class="sidebar">
    <h2>Bilabonnement A/S</h2>
    <div class="sidebar-content">
        <ul>
            <li>
                <a href="/skade_og_udbedring/damageFrontPage">
                    <i class="fas fa-house"></i> Home
                </a>
            </li>
            <li>
                <a href="/skade_og_udbedring/showDamageReports">
                    <i class="fas fa-user"></i> Skaderapporter
                </a>
            </li>
        </ul>
    </div>
    <div class="logout">
        <a href="/">
            <i class="fa-solid fa-right-from-bracket"></i> Log ud
        </a>
    </div>
</div>

<!-- Main Content -->
<main>
    <h1>Alle skaderapporter</h1>
    <table border="1">
        <thead>
        <tr>
            <th>Skaderapport ID</th>
            <th>Kontrakt ID</th>
            <th>Total Reperationspris</th>
            <th>Rediger skaderapport</th>
            <th>Slet skaderapport</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="damageReport : ${damageReports}">
            <td th:text="${damageReport.damage_report_id}"></td>
            <td th:text="${damageReport.contract_id}"></td>
            <td th:text="${damageReport.total_repair_price}"></td>
            <td>
                <a th:href="@{'/editDamageReport/' + ${damageReport.contract_id}}">
                    <button class="edit">Rediger bil</button>
                </a>
            </td>
            <td>
                <!-- Slet knap udfra kontraktens id  -->
                <a th:href="@{'/deleteDamageReport/'+${damageReport.contract_id}}">
                    <button class="delete">
                        <i class="fas fa-trash-alt"></i> Slet skadesrapport
                    </button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>
