<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dataregistrering forside</title>
    <link rel="stylesheet" href="/dataregistrering/dataFrontPage.css">
</head>
<body>
<!-- Navigation Bar -->
<div class="navbar">
    <div class="logo">Dataregistrering</div>
    <div class="nav-buttons">
        <a href="#">Test Button 1</a>
        <a href="#">Test Button 2</a>
        <a href="#">Test Button 3</a>
    </div>
</div>

<h1>Alle biler</h1>
    <thead>
    <tr>
        <th>Stelnummer</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Opret lejekontrakt</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.frame_number}"></td>
        <td th:text="${car.brand}"></td>
        <td th:text="${car.model}"></td>
        <td>
            <!-- opret lejeaftale knap -->
            <a th:href="@{'/createRentalContract/'+${car.frame_number}}">
                <button >Opret lejekontrakt</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
