<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dataregistrering forside</title>
</head>
<body>
<h1>Alle biler</h1>
<table border="1">
    <thead>
    <tr>
        <th>Stelnummer</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Opret lejekontrakt</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.frame_number}"></td>
        <td th:text="${car.brand}"></td>
        <td th:text="${car.model}"></td>
        <td>
            <!-- opret lejeaftale knap -->
            <a th:href="@{'/createRentalContract/'+${car.frame_number}}">
                <button >Opret lejekontrakt</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
