<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Invoice</title>
    <link rel="stylesheet" href="/invoice.css">
</head>
<body>
<h1>Faktura</h1>

<div>
    <p><strong>Date:</strong> <span th:text="${invoice.date}"></span></p>
    <p th:if="${invoice.customerName != null}">
        <strong>Kunde Navn:</strong> <span th:text="${invoice.customerName}"></span>
    </p>
    <p th:if="${invoice.customerName == null}">
        <strong>Kunde Navn:</strong> Anonym
    </p>
</div>

<!--<h2>Items</h2>-->
<table border="1">
    <thead>
    <tr>
        <th>Model</th>
        <th>Brand</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${invoice.items}">
        <td th:text="${item.brand}"></td>
        <td th:text="${item.model}"></td>
    </tr>
    </tbody>
</table>

<!--<h3>Total</h3>-->
<p><strong>Pris:</strong> <span th:text="${invoice.withoutMoms}"></span></p>
<p><strong>Moms:</strong> <span th:text="${invoice.moms}"></span></p>
<p><strong>Total med moms:</strong> <span th:text="${invoice.totalPrice}"></span></p>
<p><strong>Total pris i euro:</strong> <span th:text="${invoice.totalPriceEuro}"></span></p>

<p th:if="${invoice.paid}">
    <strong>Status:</strong> Betalt
</p>
<p th:if="${!invoice.paid}">
    <strong>Status:</strong> Ikke betalt
</p>
</body>
</html>
