<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alle Forhåndsaftaler</title>
</head>
<body>
<h1>Alle forhåndsaftaler</h1>
<table border="1">
    <thead>
    <tr>
        <th>Forhåndsaftale ID</th>
        <th>Kontrakt ID</th>
        <th>Købspris</th>
        <th>Slet forhåndsaftale</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="carPurchase : ${carPurchases}">
        <td th:text="${carPurchase.car_purchase_id}"></td>
        <td th:text="${carPurchase.contract_id}"></td>
        <td th:text="${carPurchase.purchase_price}"></td>
        <td>
            <a th:href="@{'/deleteCarPurchase/'+${carPurchase.car_purchase_id}}">
                <button >Slet forhåndsaftale</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>