<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alle Forhåndsaftaler</title>
    <link rel="stylesheet" href="/buttons.css">
    <link rel="stylesheet" href="/dataregistrering/showTables.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
<!-- Go Back Button -->
<div class="go-back">
    <a href="/dataregistrering/dataFrontPage">
        <i class="fas fa-arrow-left"></i> Gå tilbage
    </a>
</div>

<h1>Alle forhåndsaftaler</h1>
<table border="1">
    <thead>
    <tr>
        <th>Forhåndsaftale ID</th>
        <th>Kontrakt ID</th>
        <th>Købspris</th>
        <th>Slet forhåndsaftale</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="carPurchase : ${carPurchases}">
        <td th:text="${carPurchase.car_purchase_id}"></td>
        <td th:text="${carPurchase.contract_id}"></td>
        <td th:text="${carPurchase.purchase_price}"></td>
        <td>
            <a th:href="@{'/deleteCarPurchase/'+${carPurchase.car_purchase_id}}">
                <button class="delete">
                    <i class="fas fa-trash-alt"></i> Slet forhåndsaftale
                </button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>