<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alle Lejekontrakter</title>
</head>
<body>
<h1>Alle lejekontrakter</h1>
<table border="1">
    <thead>
    <tr>
        <th>Forhåndsaftale ID</th>
        <th>Kontrakt ID</th>
        <th>Købspris</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="carPurchase : ${carPurchases}">
        <td th:text="${carPurchase.car_purchase_id}"></td>
        <td th:text="${carPurchase.contract_id}"></td>
        <td th:text="${carPurchase.purchase_price}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>