/* Generelle indstillinger */
body {
    margin: 0;
    font-family: Nunito, sans-serif;
    background-color: #f4f9fb;
    color: #333;
}

/* Sidebar-stil */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    width: 17%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -250px; /* Sidebar start udenfor skærmen */
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 2px 0 6px rgba(0,0,0,0.1);
    transition: left 0.3s ease; /* Animation ved fold ud/ind */
}

/* Når checkboxen er markeret, skubbes sidebar ind på skærmen */
.sidebar-toggle:checked + .sidebar-toggle-label + .sidebar {
    left: 0; /* Skub sidebar til venstre når checkboxen er tjekket */
}

/* Sidebar-label til foldknappen */
.sidebar-toggle-label {
    display: block;
    background-color: #333;
    padding: 10px;
    color: white;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
}

/* Sidebar-indhold */
.sidebar-content {
    flex-grow: 1;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding-left: 10px;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 10px 15px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.sidebar ul li a i {
    font-size: 18px;
    color: #333;
    margin-right: 10px;
}

.sidebar ul li a:hover {
    background-color: #abdbe3;
    color: #fff;
}

/* Styling for logout-knap */
.sidebar .logout {
    margin-top: auto;
}

.sidebar .logout a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 10px 15px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.sidebar .logout a i {
    margin-right: 10px;
    font-size: 18px;
}

.sidebar .logout a:hover {
    background-color: #abdbe3;
    color: #fff;
}

/* Styling for burger-ikon */
.sidebar-toggle-label i {
    font-size: 24px;
}

