
/* Global styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
}

form {
    display: flex;
    flex-direction: column;
}


input[type="text"],
input[type="date"],
select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

label {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px; /* For at give lidt afstand mellem felterne */
}

input[type="checkbox"] {
    margin: 0;
    width: auto;
    height: auto;
}

button {
    background-color: #d21e1e;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

/* Responsive adjustments */
@media (max-width: 480px) {
    main {
        width: 90%;
    }
}
