button {
    background-color: #03997a; /* Primær knapfarve */
    color: white; /* Hvid tekstfarve */
    padding: 10px 15px; /* Knapstørrelse */
    border: none; /* Fjern kant */
    border-radius: 5px; /* Runde hjørner */
    cursor: pointer; /* Indikerer klikbarhed */
    transition: background-color 0.3s ease; /* Glidende overgang ved hover */
}

button:hover {
    background-color: #027f66; /* Mørkere grøn ved hover */
}

/* Style for Rediger button (grey) */
button.edit {
    background-color: #808080;
    color: #fff;
}

button.edit:hover {
    background-color: #636363;
}

/* Style for Slet button (red) */
button.delete {
    background-color: #e74c3c;
    color: #fff;
}

button.delete:hover {
    background-color: #c0392b;
}


/* Style for Opret forhåndsaftale button (grøn) */
button.create {
    background-color: #28a745; /* Grøn farve */
    color: #fff;
}

button.create:hover {
    background-color: #218838; /* Mørkere grøn farve ved hover */
}

/* Stil for 'Tilbage' knappen */
.go-back {
    position: absolute;
    top: 10px;
    left: 20px;
}

/* Styling af 'Tilbage' linket */
.go-back a {
    text-decoration: none;
    color: #fff; /* Hvid tekst */
    background-color: lightgray; /* Grøn baggrund */
    padding: 10px 15px;
    border-radius: 5px; /* Runde hjørner */
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease; /* Glidende effekt ved hover */
}

/* Afstand mellem ikonet og teksten i 'Tilbage' knappen */
.go-back a i {
    margin-right: 8px;
}

/* Hover-effekt på 'Tilbage' knappen */
.go-back a:hover {
    background-color: #C0C0C0; /* Mørkere grøn ved hover */
}

/* Styling for the update button */
.update-button {
    background-color: #49a7d5; /* Blue background color */
    color: white; /* White text color */
    font-size: 1.2em; /* Slightly larger font size */
    padding: 12px 0; /* Vertical padding */
    border: none; /* Remove border */
    border-radius: 4px; /* Rounded corners */
    width: 100%; /* Full width */
    cursor: pointer; /* Pointer cursor on hover */
    transition: all 0.3s ease; /* Smooth transition */
}

/* Hover effect for the update button */
.update-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Knap for at annullere */
.cancel-btn {
    background-color: red;
    color: white;
    border: none;
}

