main {
    color: #7C0202; /*farve på dataregistrering overskrift*/
}

th {
    background-color: #990303; /* Mørkeblå baggrund for header */
}

button {
    background-color: #990303; /* Primær knapfarve */
}

button:hover {
    background-color: #7C0202; /* Mørkere grøn ved hover */
}