<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KPI Dashboard</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/forretningsudvikler/KPIDashboardfrontpage.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>

<div class="sidebar">
    <h2>Bilabonnement A/S</h2>
    <div class="sidebar-content">
        <ul>
            <li>
                <a href="/forretningsudvikler/KPIDashboard">
                    <i class="fas fa-house"></i> Dashboard
                </a>
            </li>
            <li>
                <a href="/forretningsudvikler/BilopkobOversigt">
                    <i class="fas fa-car"></i> Bilopkøb
                </a>
            </li>
            <li>
                <a href="/forretningsudvikler/LejekontraktOversigt">
                    <i class="fa-regular fa-folder-open"></i> Aktive lejekontrakter
                </a>
            </li>
        </ul>
    </div>
    <div class="logout">
        <a href="/">
            <i class="fa-solid fa-right-from-bracket"></i> Log ud
        </a>
    </div>
</div>

<main>
    <!-- Dashboard Overskrift -->
    <div class="dashboard-title">
        <h1><i class="fa-solid fa-layer-group"></i> Dashboard</h1>
    </div>

    <!-- 3 KPI'er i firkantede bokse -->
    <div class="kpi-boxes">
        <div class="kpi-box">
            <h3>Aktive Lejekontrakter</h3>
            <p class="kpi-value" th:text="${rentedCars}">0</p>
        </div>
        <div class="kpi-box">
            <h3>Antal Lejekontrakter</h3>
            <p class="kpi-value" th:text="${rentedCarsOverall}">0</p>
        </div>
        <div class="kpi-box">
            <h3>Bestand af Biler</h3>
            <p class="notification" th:if="${notification}" th:text="${notification}" th:style="'color: ' + ${color}">0</p>
        </div>
    </div>

    <!-- 2 aflange KPI'er -->
    <div class="large-kpi-boxes">
        <div class="large-kpi-box">
            <h3>Månedlig Indtjening</h3>
            <p class="earnings-value" th:text="${monthlyEarnings}">0 DKK</p>
        </div>
        <div class="large-kpi-box">
            <h3>Total Indtjening</h3>
            <p class="earnings-value" th:text="${totalEarnings}">0 DKK</p>
        </div>
    </div>

    <!-- Returnerede Biler nederst -->
    <div class="kpi-returneredebiler">
        <h3>Returnerede Biler</h3>
        <form action="/forretningsudvikler/returnedCars" method="get">
            <label for="end_date">Vælg en dato:</label>
            <input type="date" id="end_date" name="end_date" required>
            <button type="submit">Vis Returnerede Biler</button>
        </form>
    </div>
</main>

</body>
</html>
