<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="index.css">
    <!--favicon er ikonet i fanen i stedet for default globus.  -->
    <link rel="icon" href="/images/bilabonnementLogo.png" type="image/png">
</head>
<body>
<!-- Container/Boks til loginformularen-->
<div class="container">
    <!-- Login-formular i div boks-->
    <div class="form-container">
        <h1>Velkommen til Bilabonnement A/S</h1>
        <p>Indtast dine loginoplysninger for at fortsætte.</p>

        <!-- Login form -->
        <form th:action="@{/login}" method="post">
            <label for="username">Brugernavn:</label>
            <input type="text" id="username" name="username" th:value="${username}" required><br><br>

            <!--Typen password skjuler det indtastede input i adgangskodefeltet -->
            <label for="password">Adgangskode:</label>
            <input type="password" id="password" name="password" th:value="${password}" required><br><br>

            <button type="submit">Login</button>
        </form>

        <!-- Viser en fejlmeddelelse i rødt, hvis variablen 'error' fra backend indeholder en værdi. -->
        <!-- 'th:if' afgør, om elementet vises, og 'th:text' indsætter fejlens tekst i afsnittet. -->
        <p class="error" th:if="${error}" th:text="${error}" style="color: red;"></p>
    </div>

    <!-- Test knapper -->
    <div class="test-buttons">
        <a href="dataregistrering/cars">Biler</a>
        <a href="dataregistrering/customers">Kunder</a>
        <a href="dataregistrering/dataFrontPage">Dataregistreringsforside</a>
        <a href="forretningsudvikler/KPIDashboard">KPI Dashboard</a>
        <a href="dataregistrering/showRentalContracts">Lejekontrakter</a>
        <a href="skade_og_udbedring/damageFrontPage">Skade forside</a>
        <a href="dataregistrering/showCarPurchases">Forhåndsaftaler</a>
        <!--<a href="forretningsudvikler/LejekontraktOversigt">Aktive Lejekontrakter</a>-->
    </div>
</div>

</body>
</html>