<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Invoice</title>
    <link rel="stylesheet" href="/showInvoice.css">
    <link rel="stylesheet" href="/buttons.css">
</head>
<body>
<!-- Go Back Button -->
<div class="go-back">
    <a href="/dataregistrering/showRentalContracts">
        <i class="fas fa-arrow-left"></i> Gå tilbage
    </a>
</div>

<h1 class="invoice-title">Faktura</h1>

<div class="invoice-container">
    <div class="invoice-details">
        <p><strong>Date:</strong> <span th:text="${invoice.date}"></span></p>
        <p>
            <strong>Kunde Navn:</strong> <span th:text="${invoice.customerName}"></span>
        </p>
    </div>

    <div class="invoice-items">
        <p><strong>Brand:</strong> <span th:text="${invoice.brand}"></span></p>
        <p><strong>Model:</strong> <span th:text="${invoice.model}"></span></p>
        <p><strong>Pris:</strong> <span th:text="${invoice.withoutMoms}"></span></p>
        <p><strong>Moms:</strong> <span th:text="${invoice.moms}"></span></p>
        <p><strong>Total med moms:</strong> <span th:text="${invoice.totalPrice}"></span></p>
        <p><strong>Total pris i euro:</strong> <span th:text="${invoice.totalPriceEuro}"></span></p>
    </div>

    <div class="invoice-status">
        <p>
            <strong>Status:</strong> <span class="unpaid">Ikke betalt</span>
        </p>
    </div>

   <!-- <div class="action-buttons">
        <a href="/dataregistrering/dataFrontPage" class="btn">Forside</a>
    </div>
    -->
</div>
</body>
</html>
