/* Generelle indstillinger */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; /* Baggrund for hele siden */
}

/* Header-stil */
header {
    background-color: white; /* Grøn-hvid farve */
    color: black; /* Sort tekstfarve for synlighed */
    padding: 8px; /* Størrelse af kant */
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Tilføjer en skygge */
}

/* Sidebar-stil */
.sidebar {
    background-color: white; /* Baggrundsfarve */
    width: 17%; /* Ensartet bredde */
    height: 100vh; /* Fylder hele højden */
    position: fixed; /* Holder sidebar fast */
    top: 0;
    left: 0;
    padding: 10px; /* Ens padding */
    box-sizing: border-box; /* Inkluder padding og border i breddeberegningen */
}

.sidebar h2 {
    font-size: 16px; /* Ens tekststørrelse */
    font-weight: bold;
    margin-bottom: 24px; /* Afstand mellem header og liste */
    text-align: left;
    padding-left: 10px; /* Ens padding til venstre */
    color: black;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding-left: 10px; /* Ens padding */
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    text-decoration: none;
    font-weight: bold;
    color: darkgrey;
    font-size: 14px; /* Ens tekststørrelse */
    display: block; /* Sørger for hele knappen er klikbar */
    padding: 10px 15px; /* Ens padding for alle knapper */
    transition: color 0.3s ease, background-color 0.3s ease;
}

.sidebar ul li a:hover {
    color: #abdbe3;
    background-color: #f2f2f2; /* Baggrundsfarve ved hover */
    transform: translateX(5px);
}

/* Main styling */
main {
    margin-left: 17%; /* Giver plads til sidebar */
    padding: 20px;
    display: grid; /* Grid layout for at arrangere sektioner */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Kolonner justeres efter plads */
    gap: 20px; /* Afstand mellem sektioner */
}

/* KPI sektion styling */
.kpi, .top-rented-cars, .monthly-earnings, .returned-cars {
    background-color: white;
}