/* Content Styling */
body{
    background-color: #f9f9f9; /* Baggrund for hele siden */
}

body .content {
    margin-left: 17%;
    padding: 20px;
    display: block;
    color: #027f66;
    font-family: 'Nunito', sans-serif;
}

/* Tabel Styling */
table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    table-layout: auto;
}

/* Header Styling */
table th {
    background-color: #03997a;
    color: #fff;
    padding: 10px 12px;
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
}

/* Cell Styling */
body .content table td {
    padding: 10px 12px;
    text-align: left;
    font-size: 14px;
    color: #333;
}

/* Alternating Row Colors */
body .content table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

body .content table tbody tr:nth-child(even) {
    background-color: #e0e0e0;
}

/* Hover Effekt */
body .content table tbody tr:hover {
    background-color: #d6d6d6;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Overskrift Styling */
body .content h2 {
    color: #027f66;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}
